workflow/slurm-*.out
results/Kraken2_bbmap/0010009_unknown_Nasal_Nostrilright_unclassified_2.fq
results/Kraken2_bbmap/0010009_unknown_Nasal_Nostrilright_classified_1.fq
results/Kraken2_bbmap/0010009_unknown_Nasal_Nostrilright_classified_2.fq
results/Kraken2_bbmap/0010020_unknown_Nasal_Nostrilleft_unclassified_1.fq
results/Kraken2_bbmap/0010020_unknown_Nasal_Nostrilleft_classified_1.fq
results/Kraken2_bbmap/0010020_unknown_Nasal_Nostrilleft_classified_2.fq
results/Kraken2_bbmap/0010020_unknown_Nasal_Nostrilleft_unclassified_2.fq
results/Kraken2_bbmap/0010009_unknown_Nasal_Nostrilright_unclassified_1.fq
results/MultiQC/multiqc_data/multiqc_data.json
inputs/raw_reads/0010023_Burn_034_RightLeg2_1.fq.gz
inputs/raw_reads/0010017_Burn_034_unknown_2.fq.gz
inputs/raw_reads/0010024_Burn_033_RightFlank1_2.fq.gz
inputs/raw_reads/0010006_Burn_030_RightLeg_2.fq.gz
inputs/raw_reads/0010026_Burn_031_RightLeg_2.fq.gz
inputs/raw_reads/0010025_Burn_033_LeftArm_1.fq.gz
inputs/raw_reads/0010018_Burn_034_RightLeg1_2.fq.gz
inputs/raw_reads/0010020_unknown_Nasal_Nostrilleft_2.fq.gz
inputs/raw_reads/0010027_Burn_035_RightArm_1.fq.gz
inputs/raw_reads/0010009_unknown_Nasal_Nostrilright_2.fq.gz
inputs/raw_reads/0010009_unknown_Nasal_Nostrilright_1.fq.gz
inputs/raw_reads/0010026_Burn_031_RightLeg_1.fq.gz
inputs/raw_reads/0010020_unknown_Nasal_Nostrilleft_1.fq.gz
inputs/raw_reads/0010013_Burn_031_RightForearm1_2.fq.gz
inputs/raw_reads/0010011_Burn_031_HealthySkin_RightArm_1.fq.gz
inputs/raw_reads/0010011_Burn_031_HealthySkin_RightArm_2.fq.gz
inputs/raw_reads/0010001_Burn_030_LeftLeg_2.fq.gz
inputs/raw_reads/0010024_Burn_033_RightFlank1_1.fq.gz
inputs/raw_reads/0010007_Burn_031_Sternal_1.fq.gz
inputs/raw_reads/0010027_Burn_035_RightArm_2.fq.gz
inputs/raw_reads/0010023_Burn_034_RightLeg2_2.fq.gz
inputs/raw_reads/0010004_Burn_031_RightHand_2.fq.gz
inputs/raw_reads/0010007_Burn_031_Sternal_2.fq.gz
inputs/raw_reads/0010019_Burn_033_LeftHand_2.fq.gz
inputs/raw_reads/0010003_Burn_031_LeftGroin_2.fq.gz
inputs/raw_reads/0010016_Burn_031_RightForearm2_2.fq.gz
inputs/raw_reads/0010010_Burn_034_RightLeg_1.fq.gz
inputs/raw_reads/0010008_Burn_031_RightForearm_1.fq.gz
inputs/raw_reads/0010015_Burn_031_LeftLowerLeg_2.fq.gz
inputs/raw_reads/0010008_Burn_031_RightForearm_2.fq.gz
inputs/raw_reads/0010015_Burn_031_LeftLowerLeg_1.fq.gz
inputs/raw_reads/0010012_Burn_031_LeftShoulder_1.fq.gz
inputs/raw_reads/0010017_Burn_034_unknown_1.fq.gz
inputs/raw_reads/0010021_Burn_033_RightFlank_1.fq.gz
inputs/raw_reads/0010013_Burn_031_RightForearm1_1.fq.gz
inputs/raw_reads/0010019_Burn_033_LeftHand_1.fq.gz
inputs/raw_reads/0010014_Burn_035_Abdomen_2.fq.gz
inputs/raw_reads/0010014_Burn_035_Abdomen_1.fq.gz
inputs/raw_reads/0010021_Burn_033_RightFlank_2.fq.gz
inputs/raw_reads/0010001_Burn_030_LeftLeg_1.fq.gz
inputs/raw_reads/0010012_Burn_031_LeftShoulder_2.fq.gz
inputs/raw_reads/0010010_Burn_034_RightLeg_2.fq.gz
inputs/raw_reads/0010004_Burn_031_RightHand_1.fq.gz
inputs/raw_reads/0010006_Burn_030_RightLeg_1.fq.gz
inputs/raw_reads/0010025_Burn_033_LeftArm_2.fq.gz
inputs/raw_reads/0010016_Burn_031_RightForearm2_1.fq.gz
inputs/raw_reads/0010018_Burn_034_RightLeg1_1.fq.gz
inputs/raw_reads/0010003_Burn_031_LeftGroin_1.fq.gz
inputs/genomes/human/bowtie_indices/GRCh38_index.rev.1.bt2
inputs/genomes/human/bowtie_indices/GRCh38_index.1.bt2
inputs/genomes/human/bowtie_indices/GRCh38_index.4.bt2
inputs/genomes/human/bowtie_indices/GRCh38_index.2.bt2
inputs/genomes/human/bowtie_indices/GRCh38_index.rev.2.bt2
inputs/genomes/human/bbmap_indices/ref/index/1/chr4-7_index_k14_c2_b1.block2.gz
inputs/genomes/human/bbmap_indices/ref/index/1/chr1-3_index_k14_c2_b1.block
inputs/genomes/human/bbmap_indices/ref/index/1/chr4-7_index_k13_c2_b1.block2.gz
inputs/genomes/human/bbmap_indices/ref/index/1/chr1-3_index_k13_c2_b1.block2.gz
inputs/genomes/human/bbmap_indices/ref/index/1/chr1-3_index_k14_c2_b1.block2.gz
inputs/genomes/human/bbmap_indices/ref/index/1/chr4-7_index_k13_c2_b1.block
inputs/genomes/human/bbmap_indices/ref/index/1/chr4-7_index_k14_c2_b1.block
inputs/genomes/human/bbmap_indices/ref/index/1/chr1-3_index_k13_c2_b1.block
inputs/genomes/human/bbmap_indices/ref/genome/1/chr6.chrom.gz
inputs/genomes/human/bbmap_indices/ref/genome/1/chr3.chrom.gz
inputs/genomes/human/bbmap_indices/ref/genome/1/chr4.chrom.gz
inputs/genomes/human/bbmap_indices/ref/genome/1/chr5.chrom.gz
inputs/genomes/human/bbmap_indices/ref/genome/1/chr2.chrom.gz
inputs/genomes/human/bbmap_indices/ref/genome/1/chr1.chrom.gz
inputs/genomes/human/bbmap_indices/ref/genome/1/chr7.chrom.gz
inputs/genomes/human/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz
inputs/genomes/metaphlan_bowtie2db/mpa_vJun23_CHOCOPhlAnSGB_202307.pkl
inputs/genomes/metaphlan_bowtie2db/mpa_vJun23_CHOCOPhlAnSGB_202307.rev.1.bt2l
inputs/genomes/metaphlan_bowtie2db/mpa_vJun23_CHOCOPhlAnSGB_202307.4.bt2l
inputs/genomes/metaphlan_bowtie2db/mpa_vJun23_CHOCOPhlAnSGB_202307_VSG.fna
inputs/genomes/metaphlan_bowtie2db/mpa_vJun23_CHOCOPhlAnSGB_202307.2.bt2l
inputs/genomes/metaphlan_bowtie2db/mpa_vJun23_CHOCOPhlAnSGB_202307.1.bt2l
inputs/genomes/metaphlan_bowtie2db/mpa_vJun23_CHOCOPhlAnSGB_202307.3.bt2l
inputs/genomes/metaphlan_bowtie2db/mpa_vJun23_CHOCOPhlAnSGB_202307.rev.2.bt2l
inputs/genomes/kraken2/kraken2_standard_db/k2_standard_20240112.tar.gz
inputs/genomes/kraken2/kraken2_standard_db/hash.k2d
inputs/fastp/0010003_Burn_031_LeftGroin_2.fastq.gz
inputs/fastp/0010025_Burn_033_LeftArm_2.fastq.gz
inputs/fastp/0010016_Burn_031_RightForearm2_1.fastq.gz
inputs/fastp/0010001_Burn_030_LeftLeg_2.fastq.gz
inputs/fastp/0010014_Burn_035_Abdomen_2.fastq.gz
inputs/fastp/0010008_Burn_031_RightForearm_2.fastq.gz
inputs/fastp/0010013_Burn_031_RightForearm1_2.fastq.gz
inputs/fastp/0010012_Burn_031_LeftShoulder_2.fastq.gz
inputs/fastp/0010019_Burn_033_LeftHand_1.fastq.gz
inputs/fastp/0010027_Burn_035_RightArm_2.fastq.gz
inputs/fastp/0010008_Burn_031_RightForearm_1.fastq.gz
inputs/fastp/0010027_Burn_035_RightArm_1.fastq.gz
inputs/fastp/0010019_Burn_033_LeftHand_2.fastq.gz
inputs/fastp/0010017_Burn_034_unknown_1.fastq.gz
inputs/fastp/0010015_Burn_031_LeftLowerLeg_2.fastq.gz
inputs/fastp/0010009_unknown_Nasal_Nostrilright_2.fastq.gz
inputs/fastp/0010006_Burn_030_RightLeg_1.fastq.gz
inputs/fastp/0010023_Burn_034_RightLeg2_2.fastq.gz
inputs/fastp/0010021_Burn_033_RightFlank_1.fastq.gz
inputs/fastp/0010011_Burn_031_HealthySkin_RightArm_1.fastq.gz
inputs/fastp/0010006_Burn_030_RightLeg_2.fastq.gz
inputs/fastp/0010015_Burn_031_LeftLowerLeg_1.fastq.gz
inputs/fastp/0010017_Burn_034_unknown_2.fastq.gz
inputs/fastp/0010025_Burn_033_LeftArm_1.fastq.gz
inputs/fastp/0010001_Burn_030_LeftLeg_1.fastq.gz
inputs/fastp/0010016_Burn_031_RightForearm2_2.fastq.gz
inputs/fastp/0010014_Burn_035_Abdomen_1.fastq.gz
inputs/fastp/0010007_Burn_031_Sternal_1.fastq.gz
inputs/fastp/0010004_Burn_031_RightHand_2.fastq.gz
inputs/fastp/0010026_Burn_031_RightLeg_2.fastq.gz
inputs/fastp/0010020_unknown_Nasal_Nostrilleft_1.fastq.gz
inputs/fastp/0010010_Burn_034_RightLeg_2.fastq.gz
inputs/fastp/0010004_Burn_031_RightHand_1.fastq.gz
inputs/fastp/0010003_Burn_031_LeftGroin_1.fastq.gz
inputs/fastp/0010018_Burn_034_RightLeg1_1.fastq.gz
inputs/fastp/0010010_Burn_034_RightLeg_1.fastq.gz
inputs/fastp/0010012_Burn_031_LeftShoulder_1.fastq.gz
inputs/fastp/0010020_unknown_Nasal_Nostrilleft_2.fastq.gz
inputs/fastp/0010026_Burn_031_RightLeg_1.fastq.gz
inputs/fastp/0010007_Burn_031_Sternal_2.fastq.gz
inputs/fastp/0010011_Burn_031_HealthySkin_RightArm_2.fastq.gz
inputs/fastp/0010018_Burn_034_RightLeg1_2.fastq.gz
inputs/fastp/0010013_Burn_031_RightForearm1_1.fastq.gz
inputs/fastp/0010009_unknown_Nasal_Nostrilright_1.fastq.gz
inputs/fastp/0010023_Burn_034_RightLeg2_1.fastq.gz
inputs/fastp/0010021_Burn_033_RightFlank_2.fastq.gz
inputs/fastp/0010024_Burn_033_RightFlank1_1.fastq.gz
inputs/fastp/0010024_Burn_033_RightFlank1_2.fastq.gz
inputs/BBsuite/BBmap/0010007_Burn_031_Sternal_unmapped2_coarse.fq.gz
inputs/BBsuite/BBmap/0010012_Burn_031_LeftShoulder_unmapped1_coarse.fq.gz
inputs/BBsuite/BBmap/0010021_Burn_033_RightFlank_unmapped2_coarse.fq.gz
inputs/BBsuite/BBmap/0010025_Burn_033_LeftArm_unmapped2_coarse.fq.gz
inputs/BBsuite/BBmap/0010020_unknown_Nasal_Nostrilleft_unmapped1.fq.gz
inputs/BBsuite/BBmap/0010020_unknown_Nasal_Nostrilleft_unmapped2_coarse.fq.gz
inputs/BBsuite/BBmap/0010024_Burn_033_RightFlank1_unmapped1_coarse.fq.gz
inputs/BBsuite/BBmap/0010024_Burn_033_RightFlank1_unmapped2_coarse.fq.gz
inputs/BBsuite/BBmap/0010018_Burn_034_RightLeg1_unmapped2_coarse.fq.gz
inputs/BBsuite/BBmap/0010004_Burn_031_RightHand_unmapped2_coarse.fq.gz
inputs/BBsuite/BBmap/0010012_Burn_031_LeftShoulder_unmapped2_coarse.fq.gz
inputs/BBsuite/BBmap/0010019_Burn_033_LeftHand_human1.fq.gz
inputs/BBsuite/BBmap/0010016_Burn_031_RightForearm2_unmapped2_coarse.fq.gz
inputs/BBsuite/BBmap/0010008_Burn_031_RightForearm_unmapped2_coarse.fq.gz
inputs/BBsuite/BBmap/0010009_unknown_Nasal_Nostrilright_unmapped2_coarse.fq.gz
inputs/BBsuite/BBmap/0010013_Burn_031_RightForearm1_unmapped1_coarse.fq.gz
inputs/BBsuite/BBmap/0010021_Burn_033_RightFlank_human2.fq.gz
inputs/BBsuite/BBmap/0010008_Burn_031_RightForearm_unmapped1_coarse.fq.gz
inputs/BBsuite/BBmap/0010019_Burn_033_LeftHand_human2.fq.gz
inputs/BBsuite/BBmap/0010001_Burn_030_LeftLeg_unmapped1_coarse.fq.gz
inputs/BBsuite/BBmap/0010009_unknown_Nasal_Nostrilright_unmapped1_coarse.fq.gz
inputs/BBsuite/BBmap/0010016_Burn_031_RightForearm2_unmapped1_coarse.fq.gz
inputs/BBsuite/BBmap/0010021_Burn_033_RightFlank_human1.fq.gz
inputs/BBsuite/BBmap/0010018_Burn_034_RightLeg1_unmapped1_coarse.fq.gz
inputs/BBsuite/BBmap/0010020_unknown_Nasal_Nostrilleft_unmapped1_coarse.fq.gz
inputs/BBsuite/BBmap/0010013_Burn_031_RightForearm1_human2.fq.gz
inputs/BBsuite/BBmap/0010011_Burn_031_HealthySkin_RightArm_unmapped2_coarse.fq.gz
inputs/BBsuite/BBmap/0010010_Burn_034_RightLeg_human2.fq.gz
inputs/BBsuite/BBmap/0010019_Burn_033_LeftHand_unmapped2_coarse.fq.gz
inputs/BBsuite/BBmap/0010020_unknown_Nasal_Nostrilleft_unmapped2.fq.gz
inputs/BBsuite/BBmap/0010010_Burn_034_RightLeg_unmapped2_coarse.fq.gz
inputs/BBsuite/BBmap/0010021_Burn_033_RightFlank_unmapped1_coarse.fq.gz
inputs/BBsuite/BBmap/0010003_Burn_031_LeftGroin_unmapped2_coarse.fq.gz
inputs/BBsuite/BBmap/0010010_Burn_034_RightLeg_unmapped1_coarse.fq.gz
inputs/BBsuite/BBmap/0010015_Burn_031_LeftLowerLeg_unmapped2_coarse.fq.gz
inputs/BBsuite/BBmap/0010019_Burn_033_LeftHand_unmapped1_coarse.fq.gz
inputs/BBsuite/BBmap/0010001_Burn_030_LeftLeg_unmapped2_coarse.fq.gz
inputs/BBsuite/BBmap/0010013_Burn_031_RightForearm1_unmapped2_coarse.fq.gz
inputs/BBsuite/BBduk/0010023_Burn_034_RightLeg2_1.fq.gz
inputs/BBsuite/BBduk/0010017_Burn_034_unknown_2.fq.gz
inputs/BBsuite/BBduk/0010024_Burn_033_RightFlank1_2.fq.gz
inputs/BBsuite/BBduk/0010006_Burn_030_RightLeg_2.fq.gz
inputs/BBsuite/BBduk/0010026_Burn_031_RightLeg_2.fq.gz
inputs/BBsuite/BBduk/0010025_Burn_033_LeftArm_1.fq.gz
inputs/BBsuite/BBduk/0010018_Burn_034_RightLeg1_2.fq.gz
inputs/BBsuite/BBduk/0010020_unknown_Nasal_Nostrilleft_2.fq.gz
inputs/BBsuite/BBduk/0010027_Burn_035_RightArm_1.fq.gz
inputs/BBsuite/BBduk/0010009_unknown_Nasal_Nostrilright_2.fq.gz
inputs/BBsuite/BBduk/0010009_unknown_Nasal_Nostrilright_1.fq.gz
inputs/BBsuite/BBduk/0010026_Burn_031_RightLeg_1.fq.gz
inputs/BBsuite/BBduk/0010020_unknown_Nasal_Nostrilleft_1.fq.gz
inputs/BBsuite/BBduk/0010013_Burn_031_RightForearm1_2.fq.gz
inputs/BBsuite/BBduk/0010011_Burn_031_HealthySkin_RightArm_1.fq.gz
inputs/BBsuite/BBduk/0010011_Burn_031_HealthySkin_RightArm_2.fq.gz
inputs/BBsuite/BBduk/0010001_Burn_030_LeftLeg_2.fq.gz
inputs/BBsuite/BBduk/0010024_Burn_033_RightFlank1_1.fq.gz
inputs/BBsuite/BBduk/0010007_Burn_031_Sternal_1.fq.gz
inputs/BBsuite/BBduk/0010027_Burn_035_RightArm_2.fq.gz
inputs/BBsuite/BBduk/0010023_Burn_034_RightLeg2_2.fq.gz
inputs/BBsuite/BBduk/0010004_Burn_031_RightHand_2.fq.gz
inputs/BBsuite/BBduk/0010007_Burn_031_Sternal_2.fq.gz
inputs/BBsuite/BBduk/0010019_Burn_033_LeftHand_2.fq.gz
inputs/BBsuite/BBduk/0010003_Burn_031_LeftGroin_2.fq.gz
inputs/BBsuite/BBduk/0010016_Burn_031_RightForearm2_2.fq.gz
inputs/BBsuite/BBduk/0010010_Burn_034_RightLeg_1.fq.gz
inputs/BBsuite/BBduk/0010008_Burn_031_RightForearm_1.fq.gz
inputs/BBsuite/BBduk/0010015_Burn_031_LeftLowerLeg_2.fq.gz
inputs/BBsuite/BBduk/0010008_Burn_031_RightForearm_2.fq.gz
inputs/BBsuite/BBduk/0010015_Burn_031_LeftLowerLeg_1.fq.gz
inputs/BBsuite/BBduk/0010012_Burn_031_LeftShoulder_1.fq.gz
inputs/BBsuite/BBduk/0010017_Burn_034_unknown_1.fq.gz
inputs/BBsuite/BBduk/0010021_Burn_033_RightFlank_1.fq.gz
inputs/BBsuite/BBduk/0010013_Burn_031_RightForearm1_1.fq.gz
inputs/BBsuite/BBduk/0010019_Burn_033_LeftHand_1.fq.gz
inputs/BBsuite/BBduk/0010014_Burn_035_Abdomen_2.fq.gz
inputs/BBsuite/BBduk/0010014_Burn_035_Abdomen_1.fq.gz
inputs/BBsuite/BBduk/0010021_Burn_033_RightFlank_2.fq.gz
inputs/BBsuite/BBduk/0010001_Burn_030_LeftLeg_1.fq.gz
inputs/BBsuite/BBduk/0010012_Burn_031_LeftShoulder_2.fq.gz
inputs/BBsuite/BBduk/0010010_Burn_034_RightLeg_2.fq.gz
inputs/BBsuite/BBduk/0010004_Burn_031_RightHand_1.fq.gz
inputs/BBsuite/BBduk/0010006_Burn_030_RightLeg_1.fq.gz
inputs/BBsuite/BBduk/0010025_Burn_033_LeftArm_2.fq.gz
inputs/BBsuite/BBduk/0010016_Burn_031_RightForearm2_1.fq.gz
inputs/BBsuite/BBduk/0010018_Burn_034_RightLeg1_1.fq.gz
inputs/BBsuite/BBduk/0010003_Burn_031_LeftGroin_1.fq.gz
inputs/Bowtie2/0010024_Burn_033_RightFlank1_unmapped.2.gz
inputs/Bowtie2/0010015_Burn_031_LeftLowerLeg_unmapped.1.gz
inputs/Bowtie2/0010014_Burn_035_Abdomen_unmapped.1.gz
inputs/Bowtie2/0010014_Burn_035_Abdomen_unmapped.2.gz
inputs/Bowtie2/0010001_Burn_030_LeftLeg_unmapped.1.gz
inputs/Bowtie2/0010012_Burn_031_LeftShoulder_unmapped.2.gz
inputs/Bowtie2/0010006_Burn_030_RightLeg_unmapped.2.gz
inputs/Bowtie2/0010013_Burn_031_RightForearm1_unmapped.1.gz
inputs/Bowtie2/0010006_Burn_030_RightLeg_unmapped.1.gz
inputs/Bowtie2/0010003_Burn_031_LeftGroin_unmapped.1.gz
inputs/Bowtie2/0010007_Burn_031_Sternal_unmapped.2.gz
inputs/Bowtie2/0010020_unknown_Nasal_Nostrilleft_unmapped.2.gz
inputs/Bowtie2/0010015_Burn_031_LeftLowerLeg_unmapped.2.gz
inputs/Bowtie2/0010018_Burn_034_RightLeg1_unmapped.2.gz
inputs/Bowtie2/0010026_Burn_031_RightLeg_unmapped.2.gz
inputs/Bowtie2/0010010_Burn_034_RightLeg_unmapped.1.gz
inputs/Bowtie2/0010009_unknown_Nasal_Nostrilright_unmapped.2.gz
inputs/Bowtie2/0010023_Burn_034_RightLeg2_unmapped.1.gz
inputs/Bowtie2/0010007_Burn_031_Sternal_unmapped.1.gz
inputs/Bowtie2/0010025_Burn_033_LeftArm_unmapped.2.gz
inputs/Bowtie2/0010025_Burn_033_LeftArm_unmapped.1.gz
inputs/Bowtie2/0010023_Burn_034_RightLeg2_unmapped.2.gz
inputs/Bowtie2/0010024_Burn_033_RightFlank1_unmapped.1.gz
inputs/Bowtie2/0010021_Burn_033_RightFlank_unmapped.2.gz
inputs/Bowtie2/0010018_Burn_034_RightLeg1_unmapped.1.gz
inputs/Bowtie2/0010027_Burn_035_RightArm_unmapped.1.gz
inputs/Bowtie2/0010019_Burn_033_LeftHand_unmapped.1.gz
inputs/Bowtie2/0010009_unknown_Nasal_Nostrilright_unmapped.1.gz
inputs/Bowtie2/0010001_Burn_030_LeftLeg_unmapped.2.gz
inputs/Bowtie2/0010008_Burn_031_RightForearm_unmapped.2.gz
inputs/Bowtie2/0010027_Burn_035_RightArm_unmapped.2.gz
inputs/Bowtie2/0010017_Burn_034_unknown_unmapped.1.gz
inputs/Bowtie2/0010016_Burn_031_RightForearm2_unmapped.2.gz
inputs/Bowtie2/0010020_unknown_Nasal_Nostrilleft_unmapped.1.gz
inputs/Bowtie2/0010026_Burn_031_RightLeg_unmapped.1.gz
inputs/Bowtie2/0010016_Burn_031_RightForearm2_unmapped.1.gz
inputs/Bowtie2/0010017_Burn_034_unknown_unmapped.2.gz
inputs/Bowtie2/0010021_Burn_033_RightFlank_unmapped.1.gz
inputs/Bowtie2/0010004_Burn_031_RightHand_unmapped.2.gz
inputs/Bowtie2/0010011_Burn_031_HealthySkin_RightArm_unmapped.2.gz
inputs/Bowtie2/0010019_Burn_033_LeftHand_unmapped.2.gz
inputs/Bowtie2/0010003_Burn_031_LeftGroin_unmapped.2.gz
inputs/Bowtie2/0010013_Burn_031_RightForearm1_unmapped.2.gz
inputs/Bowtie2/0010010_Burn_034_RightLeg_unmapped.2.gz
inputs/Bowtie2/0010011_Burn_031_HealthySkin_RightArm_unmapped.1.gz
inputs/Bowtie2/0010012_Burn_031_LeftShoulder_unmapped.1.gz
inputs/Bowtie2/0010008_Burn_031_RightForearm_unmapped.1.gz
inputs/Bowtie2/0010004_Burn_031_RightHand_unmapped.1.gz
workflow/logs/slurm/MetaPhlAn4_build/14433025.err
workflow/logs/slurm/kraken2_build_standard_db/14433029.err
workflow/logs/slurm/kraken2/14497131.out
workflow/logs/slurm/kraken2/14499696.out
workflow/logs/slurm/kraken2/14497146.out
workflow/logs/slurm/kraken2/14497130.out
workflow/logs/slurm/kraken2/14497145.out
workflow/logs/slurm/kraken2/14499673.out
workflow/logs/slurm/kraken2/14499672.out
workflow/logs/slurm/kraken2/14499716.out
workflow/logs/slurm/kraken2/14499670.out
workflow/logs/slurm/kraken2/14497147.out
workflow/logs/slurm/kraken2/14497148.out
workflow/logs/slurm/kraken2/14497129.out
workflow/logs/slurm/kraken2/14499695.out
workflow/logs/slurm/kraken2/14499697.out
workflow/logs/slurm/kraken2/14499675.out
workflow/logs/slurm/kraken2/14499699.out
workflow/logs/slurm/kraken2/14499676.out
workflow/logs/slurm/kraken2/14499663.out
workflow/logs/slurm/kraken2/14499714.out
workflow/logs/slurm/kraken2/14497126.out
workflow/logs/slurm/kraken2/14497144.out
workflow/logs/slurm/kraken2/14499717.out
workflow/logs/slurm/kraken2/14499671.out
workflow/logs/slurm/kraken2/14497125.out
workflow/logs/slurm/kraken2_bbmap/14497124.out
workflow/logs/slurm/kraken2_bbmap/14499692.out
workflow/logs/slurm/kraken2_bbmap/14512627.out
workflow/logs/slurm/kraken2_bbmap/14512642.out
